{% extends "layout.html" %}
{% block title %} DASHBOARD {% endblock %}
{%block head%}
        {% endblock %}


    {% block content%}
 
 
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
         <h1 class="h3 mb-0 text-gray-800">Create POLL</h1>

       </div>

<form method="post" action="/createpoll">
  <div class="form-group has-success">
          <h5>Current Poll ID : {{poll_total +1}} </h5>
        </div>

   <div class="form-group has-success">
           <label for="question" class="sr-only">Enter Question</label>
           <input type="question" id="question" name="question" class="form-control" placeholder="Enter Question" required="" autofocus="">
         </div>

   <div class="form-group has-success">
           <label for="option1" class="sr-only">Option 1</label>
           <input type="text" id="option1" name="option" class="form-control" placeholder="Option 1" required="" autofocus="">
         </div>


         <div class="form-group has-success">
           <label for="option2" class="sr-only">Option 2</label>
           <input type="text" id="option2" name="option" class="form-control" placeholder="Option 2" required="" autofocus="">
         </div>
<span id="new"></span>
<div>

       <input type="button" value="Add more options" class="btn btn-primary" onclick="createEl();"></div>
       <br>
         <button class="btn btn-lg btn-success btn-block" type="submit" >Submit Poll</button>
       </form>

{% endblock %}
