<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://img.icons8.com/nolan/64/survey.png">

    <title>e-Poller!</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for("static", filename="css/bootstrap.min.css") }}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for("static", filename="css/jumbotron-narrow.css") }}" rel="stylesheet">

    <script src="{{ url_for("static", filename="js/ie-emulation-modes-warning.js") }}"></script>
  </head>

  <body>
        <nav class="navbar navbar-default navbar-fixed-top">
          <ul class="nav nav-pills pull-right">
            {% if session.get('user_id') %}
            <li class="welcome-message">Hey {{ user[0]["firstname"] }}!</li>
              <li role="presentation"><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}

          </ul>
          <a style="padding-left: 30px;" href="/"><img src="{{ url_for("static", filename="images/pagelogo.png") }}" /></a>
        </nav>

      <div class="jumbotron">
        <h1>It's easier with e-Poller!</h1>
        <p class="lead">Create free online polls today with e-Poller</p>

        {% if not session.get('user_id') %}
        <p><a class="btn btn-lg btn-success" href="{{ url_for('register') }}" role="button">Sign up today</a></p>
        {% else %}
        <p><a class="btn btn-lg btn-success" href="{{url_for('dashboard')}}" role="button">Create a poll</a></p>
        {% endif %}
      </div>

      <div class="container">

        <div class="row marketing">


          <div class="col-lg-6">
            <h3>It's so easy</h3>
            <p>It's so easy to use e-Poller, just create an account and you can start
            creating polls for the world to see!</p>
          </div>

          <div class="col-lg-6">
              {% if not session.get('user_id') %}
            <h3 class="form-header">Login</h3>
            <form method="post" action="{{ url_for('login', next=request.args.get('next')) }}">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
              <div class="form-group has-success">
                <input type="text" class="form-control" name="username" placeholder="Username" required/>
              </div>

              <div class="form-group has-success">
                <input type="password" class="form-control" name="password" placeholder="Password" required/>
              </div>

              <button type="submit" name="submit" class="btn btn-success">Submit</button>
            </form>
            {% endif %}
          </div>

        </div>

      </div>

      <footer class="footer">
        <p>Made by TEAM ELEMENTRIX @ <script>document.write(new Date().getFullYear());</script> </p>
      </footer>

  </body>
</html>
