<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://img.icons8.com/nolan/64/survey.png">

  <title>e-poller | {% block title %} {% endblock %}</title>

  <!-- Custom fonts for this template-->
  <link href="/static/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
{% block head %} {% endblock %}

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>

        <div class="sidebar-brand-text mx-3">Welcome {{ user }}! </div>
      </a>

      <!-- Nav Item - Dashboard -->
      {% if name == 'dashboard' %}
      <li class="nav-item active" name="dashboard">
        {% else %}
        <li class="nav-item " name="dashboard">
        {% endif %}

        <a class="nav-link" href="/dashboard">
          <i class="fas fa-home"></i>
          <span>Dashboard</span></a>
        

      </li>

           {% if name == 'polls' %}
      <li class="nav-item active" name="polls">
        {% else %}
        <li class="nav-item " name="polls">
        {% endif %}
              <a class="nav-link collapsed"  href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-poll"></i>
                <span>Polls </span>
              </a>
              <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded" style="background:white;">
                <a class="collapse-item" href="/createpoll">Create Poll</a>
                  <a class="collapse-item" href="/pollscreated/ongoing">Ongoing Polls</a>
                  <a class="collapse-item" href="/pollscreated/ended">Ended Polls</a>
                </div>
              </div>
            </li>


      {% if name == 'profile' %}
      <li class="nav-item active" name="profile">
        {% else %}
        <li class="nav-item " name="profile">
        {% endif %}
        	<a class="nav-link" href="/profile">
          	<i class="fas fa-user"></i>
          	<span>Profile</span></a>
      </li>
      
      {% if name == 'faq' %}
      <li class="nav-item active" name="faq">
        {% else %}
        <li class="nav-item " name="faq">
        {% endif %}
        	<a class="nav-link" href="/faq">
          	<i class="fas fa-question-circle"></i>
          	<span>FAQs</span></a>
      </li>
       
      {% if name == 'contact' %}
      <li class="nav-item active" name="contact">
        {% else %}
        <li class="nav-item " name="contact">
        {% endif %}
        	<a class="nav-link" href="/contact">
          	<i class="fas fa-file-signature"></i>
          	<span>Contact Us</span></a>
      </li>
      
      <li class="nav-item ">
        	<a class="nav-link" href="/logout">
          	<i class="fas fa-sign-out-alt"></i>
          	<span>Logout</span></a>
      </li>

    </ul>
<!-- Main content -->
    <div id="content-wrapper" class="d-flex flex-column" style=" background: url('../static/images/test2.png');background-repeat: no-repeat;">

 <!-- Main Content -->
 <div id="content" >

      <nav class="navbar navbar-expand navbar-light  topbar mb-4 static-top shadow">
        <!-- Search poll -->
        
          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="/polltovote" method = "post">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Enter poll id" aria-label="Search" aria-describedby="basic-addon2" name = "pollid">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search" action="/polltovote" method = "post">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Enter poll id" aria-label="Search" aria-describedby="basic-addon2" name="pollid">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
      </nav>
         <div class="container-fluid">
{% block content%}

 <!-- End of Content Wrapper -->
 {% endblock %}
</div>
</div>

<footer class="sticky-footer bg-white" style="color: black;background:white;">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Made by TEAM ELEMENTRIX @ <script>document.write(new Date().getFullYear());</script></span>
    </div>
  </div>
</footer>
</div>
</div>

   <script src="{{ url_for("static", filename="js/jquery.min.js") }}"></script>
   <script src="{{ url_for("static", filename="js/bootstrap.bundle.min.js") }}"></script>
   <script src = "{{ url_for("static", filename ="js/option.js") }}"></script>
     <script src='https://code.createjs.com/easeljs-0.7.1.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>
   <script src = "{{ url_for("static", filename ="js/dashboard.js") }}"></script>
   <script src="{{ url_for("static", filename="js/material-dashboard.js") }}"></script>
      <script src="{{ url_for("static", filename="js/popper.min.js") }}"></script>
         <script src="{{ url_for("static", filename="js/bootstrap-material-design.min.js") }}"></script>
</body>
</html>
