{% extends "layout.html" %}
{% block title %} POLLS {% endblock %}



    {% block content%}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Polls Created</h1>

    </div>
    {% for poll in totalpolls %}
    <form method="post" action="/pollscreated">

              <h5 >Poll ID : {{poll["pollid"] }}</h5>
              <h5 > {{poll["question"]}}</h5>
              <input type="hidden" name="pollidd" value={{poll["pollid"]}}>

       <div class="form-group has-success">
          <input type="radio" id="option1" name="vote" value="option1">
          <label for="option1"> {{poll["option1"]}}</label><br>
             </div>


             <div class="form-group has-success">
               <input type="radio" id="option2" name="vote" value="option2">
               <label for="option2"> {{poll["option2"]}}</label><br>
             </div>
          {% if poll["option3"] %}
             <div class="form-group has-success">
               <input type="radio" id="option3" name="vote" value="option3">
               <label for="option3"> {{poll["option3"]}}</label><br>
             </div>
    {% endif %}
    {% if poll["option4"] %}
       <div class="form-group has-success">
         <input type="radio" id="option4" name="vote" value="option4">
         <label for="option4"> {{poll["option4"]}}</label><br>
             </div>
             {% endif %}
             {% for ifvoted in check %}
                  {% if ifvoted["pollid"]== poll["pollid"] and ifvoted["voted"]==1%}
                  <script>
                  window.onload=function change(){
                    document.getElementById("status").innerHTML="Vote submitted!";
                    var button=document.getElementById("buttonvote");
                    button.disabled =true;
                          }
                  </script>
                  {%else%}
                  <script>
                  window.onload=function change(){
                    var button=document.getElementById("buttonvote");
                    button.disabled =false;
                  }</script>
                        {% endif %}
              {% endfor %}

<h5 id="status"></h5>
             <button class="btn btn-lg btn-success btn-block" id="buttonvote" type="submit" >Vote</button>

           </form>

{% endfor %}
    {% endblock %}
