      {% extends "layout.html" %}

      {% block title %} ONGOING POLLS {% endblock %}
      {% block head %}
      <style>
      .btn-block
      {
        display:inline-block;
        width:30%;
      }
      </style>
      {% endblock %}
      {% block content %}
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        {% block heading %}      <h1 class="h3 mb-0 text-gray-800">Ongoing Polls</h1> {% endblock heading %}

      </div>
                {% if totalpolls %}
                {% for poll in totalpolls  %}


              <div class="row">

                          <!-- Area Chart -->
                          <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h3 class="h3 mb-0 text-gray-800">{{poll["question"]}}</h3>
                  <h6 class="m-0 font-weight-bold text-primary">Poll ID : {{poll["pollid"] }}</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">

                    {% block form %}    <form method="post" action="/pollscreated/ongoing">  {% endblock form %}



                            <input type="hidden" name="pollid" value='{{poll["pollid"]}}'>
                            {% for op in options %}
                            
                            {% if op["pollid"] == poll["pollid"] %}
                     <div class="form-group has-success">
                            <input type="radio" id="option1" name="vote" value=1>
                            <label for="option1"> {{op["name"]}}</label><br>
                    </div>
                    {% endif %}
                     {% endfor %}

                          {% if type%}

                                                  {% if poll["pollid"] in check %}
                                                  <h5 id="status"> Vote submitted !!!</h5>
                                           <button class="btn btn-lg btn-success btn-block" style="margin-top: .5rem;" id='{{ poll["pollid"]}}' type="submit" disabled >Vote</button>
                                                  {% else %}
                                            <button class="btn btn-lg btn-success btn-block" style="margin-top: .5rem;" id='{{ poll["pollid"]}}' type="submit" name="voteforpoll">Vote</button>
                                                  {% endif %}

                                                  <button class="btn btn-lg btn-success btn-block" id='result' type="submit" name="result">Result</button>
                                          <button class="btn btn-lg btn-success btn-block" id='endpoll' type="submit" name="end" onclick="alert('Poll Ended successfully !!!')">End poll</button>
                                        {% else %}
                              {% block button %}   {% endblock button %}
                              {% endif %}


                    </form>



                  </div>
                </div>
              </div>
            </div>
            {% if print_result %}
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Result</h6>
                </div>
                <div class="card-body">
                   {% for op in options %}
                            
                            {% if op["pollid"] == poll["pollid"] %}
                  <h4 class="small font-weight-bold">{{op["name"]}} <span class="float-right" style = "color:#e74a3b">{{print_result[0]}}%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{print_result[0]}}%" ></div>
                  </div>
                 {% endif %}
                     {% endfor %}
                  </div>
              </div>
            </div>
            {% endif %}
            </div>
            <br><br>


          {% endfor %}
          {% else %}
          <div class="alert alert-danger" role="alert">Not found</div>
          {% endif %}
{% endblock content %}
