{% extends "poll.html" %}

{% block title %} ONGOING POLLS {% endblock %}
        {% block heading %}      <h1 class="h3 mb-0 text-gray-800">Ongoing Polls</h1> {% endblock heading %}


  {% block form %}    <form method="post" action="/pollscreated/ongoing">  {% endblock form %}
            {% block button %}
            {% if totalpolls %}
          {% for poll in totalpolls %}
             {% if poll["pollid"] in check %}
             <h5 id="status"> Vote submitted !!!</h5>
      <button class="btn btn-lg btn-success btn-block" id='{{ poll["pollid"]}}' type="submit" disabled>Vote</button>
             {% else %}
       <button class="btn btn-lg btn-success btn-block" id='{{ poll["pollid"]}}' type="submit" name="voteforpoll">Vote</button>
             {% endif %}

             <button class="btn btn-lg btn-success btn-block" id='result' type="submit" name="result">Result</button>
     <button class="btn btn-lg btn-success btn-block" id='endpoll' type="submit" name="end" onclick="alert('Poll Ended successfully !!!')">End poll</button>
{% endfor %}{% endif %}
      {% endblock button %}
