      {% extends "layout.html" %}

      {% block title %} ONGOING POLLS {% endblock %}
      {% block head %}
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
      <style>

img{
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

}

p{
font-family: system-ui;
font-size: 1.3rem;
color: black;
}
    

      .btn-block
      {
        display:inline-block;
        width:30%;
      }
      .btn-success{
          background: linear-gradient(90deg,#224abe 10%,#191818 100%);
    border-color: #224abe;
  }


/* -----------------------------------------------------
  CSS Progress Bars
-------------------------------------------------------- */
.cssProgress {
  width: 100%;
  margin-bottom: 20px;
}
.cssProgress .progress1,
.cssProgress .progress2,
.cssProgress .progress3 {
  position: relative;
  overflow: hidden;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.cssProgress .cssProgress-bar {
  display: block;
  float: left;
  width: 0%;
  height: 100%;
  background: #3798d9;
  box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
  transition: width 0.8s ease-in-out;
}
.cssProgress .cssProgress-label {
  position: absolute;
  overflow: hidden;
  left: 0px;
  right: 0px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.7em;
  text-align: center;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}
.cssProgress .cssProgress-info {
  background-color: #9575cd !important;
}
.cssProgress .cssProgress-danger {
  background-color: #ef5350 !important;
}
.cssProgress .cssProgress-success {
  background-color: #66bb6a !important;
}
.cssProgress .cssProgress-warning {
  background-color: #ffb74d !important;
}
.cssProgress .cssProgress-right {
  float: right !important;
}
.cssProgress .cssProgress-label-left {
  margin-left: 10px;
  text-align: left !important;
}
.cssProgress .cssProgress-label-right {
  margin-right: 10px;
  text-align: right !important;
}
.cssProgress .cssProgress-label2 {
  display: block;
  margin: 2px 0;
  padding: 0 8px;
  font-size: 0.8em;
}
.cssProgress .cssProgress-label2.cssProgress-label2-right {
  text-align: right;
}
.cssProgress .cssProgress-label2.cssProgress-label2-center {
  text-align: center;
}
.cssProgress .cssProgress-stripes,
.cssProgress .cssProgress-active,
.cssProgress .cssProgress-active-right {
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
  background-size: 35px 35px;
}
.cssProgress .cssProgress-active {
  -webkit-animation: cssProgressActive 2s linear infinite;
  animation: cssProgressActive 2s linear infinite;
}
.cssProgress .cssProgress-active-right {
  -webkit-animation: cssProgressActiveRight 2s linear infinite;
  animation: cssProgressActiveRight 2s linear infinite;
}
@-webkit-keyframes cssProgressActive {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}
@keyframes cssProgressActive {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}
@-webkit-keyframes cssProgressActiveRight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -35px -35px;
  }
}
@keyframes cssProgressActiveRight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -35px -35px;
  }
}

/* -----------------------------------------------------
  Progress Bar 2
-------------------------------------------------------- */
.progress2 {
  background-color: #EEE;
  border-radius: 9px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.progress2 .cssProgress-bar {
  height: 18px;
  border-radius: 9px;
}
.progress2 .cssProgress-label {
  line-height: 18px;
}


@-webkit-keyframes cssProgressGlowActive2 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #9575cd;
  }
  45% {
    box-shadow: 1px 0px 4px 0px #9575cd;
  }
}
@keyframes cssProgressGlowActive2 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #9575cd;
  }
  45% {
    box-shadow: 1px 0px 4px 0px #9575cd;
  }
}

      </style>

      {% endblock %}
      {% block content %}
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        {% block heading %}      <h1 class="h3 mb-0 text-gray-800">Ongoing Polls</h1> {% endblock heading %}

      </div>
      {% if error %}
       <div class="alert alert-danger" role="alert">  {{error}}</div>
      {% endif %}


                {% if totalpolls %}
                {% for poll in totalpolls  %}


              <div class="row">

                          <!-- Area Chart -->
                          <div class="col-xl-8 col-lg-7" style="overflow: overlay;">
                            <div class="card shadow mb-4" style="min-width: 400px;">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="background: linear-gradient(90deg,#224abe 10%,#191818 100%); color:white;">
                      <h3 class="h3 mb-0 text-gray-800" style="color: white; font-size: 120%; font-weight:700; overflow: hidden; padding-right: 30px; ">{{poll["question"]}}</h3>
                  <h6 class="m-0 font-weight-bold text-primary" style="color: #a4b8f1 !important;">Poll ID : {{poll["pollid"]}}</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">

                    {% block form %}    <form method="post" action="/pollscreated/ongoing">  {% endblock form %}


                     
                            <input type="hidden" name="pollid" value='{{poll["pollid"]}}'>
                     
                            {% for op in options %}
                            {% if op["pollid"] == poll["pollid"]%}
                            
                         
                     <div class="form-group has-success">
                            <input type="radio" id="option1" name="vote" value='{{op["option_id"]}}' required>
                            <label for="option1" id="opp"> {{op["name"]}}</label><br>


                     


 
                    </div>
{% endif %}
                      
               
                     {% endfor %}

                          {% if type%}

                                                  {% if poll["pollid"] in check %}
                                                  <h5 id="status"> Vote submitted !!!</h5>
                                           <button class="btn btn-lg btn-success btn-block" style="margin-top: .5rem;" id='{{ poll["pollid"]}}' type="submit" disabled >Vote</button>
                                                  {% else %}
                                            <button class="btn btn-lg btn-success btn-block" style="margin-top: .5rem;" id='{{ poll["pollid"]}}' type="submit" name="voteforpoll">Vote</button>
                                                  {% endif %}
<form>
                                          <button class="btn btn-lg btn-success btn-block" id='endpoll' type="submit" name="end" onclick="alert('Poll Ended successfully !!!')">End poll</button>
                                        </form>
                                        {% else %}
                              {% block button %}   {% endblock button %}
                              {% endif %}


                    </form>



                  </div>
                </div>
              </div>
            </div>
          
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Result</h6>
                </div>
                <div class="card-body">
                  
           
               {% for k,v in print_result[poll["pollid"]].items()%}
            

                  <h4 class="small font-weight-bold" id="opp"> {{v[1]}}<span class="float-right" style = "color:#e74a3b">{{v[0]}}%</span></h4>

                  <main>
  <div class="main-content">

    <div id="bar" class="examples">

      <div class="cssProgress">
        <div class="progress2">
          <div class="cssProgress-bar cssProgress-active cssProgress-active" data-percent="100" style="width: {{v[0]}}%;">
          </div>
        </div>
      </div>

    </div>



  </div>
</main>

{% endfor %}
                  </div>
              </div>
            </div>
        
            </div>
            <br><br>


          {% endfor %}
          {% else %}

                 <div class="row">
<div class="col-xl-5">
<img src="../static/images/Doge-Crying.png">
</div>
<div class="col-xl-3 "  style="transform: translate(0%,40%);">
  <p> Poll Not Found <br>

</p>
</div>
</div>
          {% endif %}
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'>
  </script>

  <script>
    $(document).ready(function() {

  $('#bar').progress_fnc();

});


(function($) {

  $.fn.progress_fnc = function(options) {
    var settings = $.extend({
      type: 'start'
    }, options);

    var div = $(this);
    var progress = div.find('.cssProgress');

    progress.each(function() {
      var self = $(this);
      var progress_bar = self.find('.cssProgress-bar');
      var progress_label = self.find('.cssProgress-label, .cssProgress-label2');
      var progress_value = progress_bar.data('percent');
      var percentage = parseInt(progress_value, 10) + '%';

      progress_bar.css({'width': '0%', 'transition': 'none', '-webkit-transition': 'none', '-moz-transition': 'none'});

      if(settings.type == 'start') {

        progress_bar.animate({
          width: percentage
        }, {
          duration: 1000,
          step: function(x) {
            progress_label.text(Math.round(x) + '%');
          }
        });

      } 

    });
  }

}(jQuery));
  </script>
{% endblock content %}
