{% extends "layout.html" %}
{% block title %} DASHBOARD {% endblock %}
{%block head%}
       {% endblock %}


    {% block content%}



     <!-- Begin Page Content -->


       <!-- Page Heading -->
       <div class="d-sm-flex align-items-center justify-content-between mb-4">
         <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

       </div>

       <!-- Content Row -->
       <div class="row">

         <!-- TOTAL POLLS -->
         <div class="col-xl-3 col-md-6 mb-4">
           <div class="card border-left-primary shadow h-100 py-2">
             <div class="card-body">
               <div class="row no-gutters align-items-center">
                 <div class="col mr-2">
                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">TOTAL POLLS CREATED</div>
                   <div class="h5 mb-0 font-weight-bold text-gray-800">{{poll_total_user}}</div>
                 </div>
                 <div class="col-auto">
                   <i class="fas fa-poll fa-2x text-gray-300"></i>
                 </div>
               </div>
             </div>
           </div>
         </div>

         <!-- ONGOING POLLS -->
         <div class="col-xl-3 col-md-6 mb-4">
           <div class="card border-left-warning shadow h-100 py-2">
             <div class="card-body">
               <div class="row no-gutters align-items-center">
                 <div class="col mr-2">
                   <a href="/pollscreated/ongoing" class="text-xs font-weight-bold text-warning text-uppercase mb-1">ONGOING POLLS</a>
                   <div class="h5 mb-0 font-weight-bold text-gray-800">{{poll_ongoing}}</div>
                 </div>
                 <div class="col-auto">
                   <i class="fas fa-clock fa-2x text-gray-300"></i>
                 </div>
               </div>
             </div>
           </div>
         </div>

         <!-- ENDED POLLS -->
         <div class="col-xl-3 col-md-6 mb-4">
           <div class="card border-left-info shadow h-100 py-2">
             <div class="card-body">
               <div class="row no-gutters align-items-center">
                 <div class="col mr-2">
                   <a href="/pollscreated/ended" class="text-xs font-weight-bold text-success text-uppercase mb-1">ENDED POLL</a>
                   <div class="row no-gutters align-items-center">
                     <div class="col-auto">
                       <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{poll_ended}}</div>
                     </div>
                     </div>
                 </div>
                 <div class="col-auto">
                   <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>



         <div class="d-sm-flex align-items-center justify-content-between mb-4">
         <h1 class="h3 mb-0 text-gray-800">Create POLL</h1>

       </div>

<form method="post" action="/polls">
  <div class="form-group has-success">
          <h5>Current Poll ID : {{poll_total +1}} </h5>
        </div>

   <div class="form-group has-success">
           <label for="question" class="sr-only">Enter Question</label>
           <input type="question" id="question" name="question" class="form-control" placeholder="Enter Question" required="" autofocus="">
         </div>

   <div class="form-group has-success">
           <label for="option1" class="sr-only">Option 1</label>
           <input type="text" id="option1" name="option" class="form-control" placeholder="Option 1" required="" autofocus="">
         </div>


         <div class="form-group has-success">
           <label for="option2" class="sr-only">Option 2</label>
           <input type="text" id="option2" name="option" class="form-control" placeholder="Option 2" required="" autofocus="">
         </div>
<span id="new"></span>
<div>

       <input type="button" value="Add more options" class="btn btn-primary" onclick="createEl();"></div>
       <br>
         <button class="btn btn-lg btn-success btn-block" type="submit" >Submit Poll</button>
       </form>

    
{% endblock %}
